.btn btn-success{
	margin-left: 20%;
}

.card-header{
	background-color: crimson;
}

.card{
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	float: center;
	justify-content: center;
}

nav h3{
	text-align: center;
	color: white;
}

h3{
	text-align: center;
	color:crimson;
}

.card img{
	width: 100px;
	
}

h1{
	color: #fff;
	text-align: center;
}

a {
	border-bottom: 2px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
}

a:hover {
	color: #000;
}

@media screen and (max-width: 56.0625em) {

	body{
		background-size: 300%;
		background-repeat: no-repeat;
	}

	.tarjeta {
		padding: 0;
	}

	.card {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.column p {
		text-align: left;
		font-size: 1.5em;
	}

	.column:nth-child(2) {
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
		background-position: 90px 3em;
	}
}

@media screen and (max-width: 36.0625em) {


.tarjeta {
	padding: 0;
}

.card {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.column p {
	text-align: left;
	font-size: 1.5em;
}

.column:nth-child(2) {
	box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	background-position: 90px 3em;
}
}
